<strong>Olá {{ student }}</strong>
<p>Ficamos gratos por escolher a GYMPOINT</p>
<p>
  <strong>Plano: </strong> {{ plan }} <br />
  <strong>Data Encerramento: </strong> {{ date }} <br />
  <strong>Preço: </strong> {{ price }} <br />
  <br />
  <small>
    Seja bem vindo!
  </small>
</p>
